.cloud {
	color: white;
	margin-top: 6rem;
}
.cloud .section-header {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	text-align: center;
	align-items: center;
}
.cloud h1 {
	text-align: center;
	font-size: 2.3rem;
	line-height: 3rem;
	margin-bottom: 1rem;
	font-weight: bold;
}
.cloud h2 {
	width: 30rem;
	text-align: center;
	font-size: 1.1rem;
	color: rgba(255, 255, 255, 0.6);
	margin-bottom: 4rem;
}
.cloud .section-name {
	margin-top: 8rem;
	font-size: 1.2rem;
	background-image: linear-gradient(309deg, rgb(166, 221, 255) 2.25225%, rgb(51, 194, 255) 48.0785%, rgb(0, 119, 255) 100%);
	background-clip: text;
	text-shadow: 0px 4px 18px rgba(0, 130, 217, .85);
    text-align: center;
	color: white;
	-webkit-text-fill-color: transparent;
	font-weight: bold;
	width: fit-content;
	margin: 0 auto;
}
.cloud .features .card {
	box-shadow: 0 0 0 1px #bad7f72d;
	border-radius: 1.5rem;
	padding: 2rem;
	background-color: rgb(34,38,43);
	color: white;
	display: flex;
	flex-direction: column;
}
.cloud .features .card .icon {
	margin-bottom: .5rem;
}
.cloud .features .card h3 {
	font-size: 1.5rem;
	font-weight: bold;
}
.cloud .features .card h4 {
	font-size: 1rem;
}
.cloud .card1,  .cloud .card2 {
	height: 30rem;
	overflow: hidden;
}
.cloud .card1 {
	background: radial-gradient(128% 107% at 100% 0%, #292929 0%, rgb(0, 0, 0) 77.6%);
}
.cloud .card1 .images {
	position: relative;
	height: 100%;
	top: 5%;
}
.cloud .card1 .images>* {
	position: absolute;
	box-shadow: -10px 0 30px #b0b0b024, -.5px -.5px 0 .4px #8f8f8f40;
}
.cloud .card1 .img1 {
	width: 70%;
	top: 0%;	
}
.cloud .card1 .img2 {
	width: 120%;
	top: 20%;
	left: 20%;
}
.cloud .card1 .img3 {
	width: 70%;
	left: 40%;
	top: 40%;
	max-width: none;
}
.cloud .card2 {
	background: radial-gradient(97% 98% at 99.1% 99.1%, #0080c4 0%, rgb(0, 3, 15) 100%);
}
.cloud .card2 .images {
	position: relative;
	width: 250%;
	top: 10%;
	left: -25%;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	gap: .5rem;
}
.cloud .card2 .images>img {
	box-shadow: -10px 0 30px #938dff24, -.5px -.5px 0 .4px #8f8f8f40;
	border-radius: .5rem;
	opacity: 0.7;
	height: 10rem;
}
.cloud .level2 {
 	margin-top: 2rem;
}
.cloud .level2>.column {
	display: flex;
}
.cloud .card.small {
	align-items: center;
    text-align: center;
    justify-content: center;
}
.cloud .arch {
	display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    padding: 1rem 1.5rem;
	background-image: radial-gradient(100% 100% at top, rgba(157, 195, 247, .1), rgba(157, 195, 247, 0));
	background-color: #5c5c5c1f;
	border-radius: 1.5rem;
}
.cloud .arch .component {
	padding: 1rem;
	text-align: center;
	border-radius: 1rem;
	border: 1px solid #bad7f72d;
	background-color: #0f0f0f;
	cursor: default;
}
.cloud .arch .component:hover {
	box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.1) 0px 8px 10px -6px;
	transition-duration: 0.5s;
	background-color: #00000000;
	transition-property: box-shadow, background-color;
}
.cloud .arch .component h3 {
	font-weight: bold;
}
.cloud .arch .component h4 {
	font-size: 0.8rem;
	margin-top: .5rem;
	color: #9d9d9d;
}
.cloud .arch .name {
	text-align: center;
	font-weight: bold;
	font-size: 1.6rem;
}
.cloud .arch .name2 {
	font-size: 1.2rem;
	text-align: center;
	font-weight: bold;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.cloud .vanta-canvas {
	opacity: 0.6;
}