/* Global Style */
@font-face {
  font-family: "OpenAI";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/openai-400.otf");
}
@font-face {
  font-family: "OpenAI";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/openai-500.otf");
}
body, html {
  font-family: "OpenAI", "IBM Plex Sans", sans-serif !important;
  font-size: 16px;
  scroll-behavior: smooth;
  overflow-x: hidden;
  height: 100vh;
  background-color: black;
  -webkit-font-smoothing: antialiased;
  --border-color: #000;
  --background-grey: #f9f9f9;
  --brand-color: #452D6C;
}
input, select, textarea {
  font-family: "OpenAI", "IBM Plex Sans", sans-serif !important;
}

a:hover {
  border-bottom: 1px solid black;
}
.text-colored, .text-brand{
  background-image: linear-gradient(90deg,#9b5cff 0,#ee5396);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-brand {
  font-weight: bold;
}
.text-underlined {
  border-bottom: 1px solid black;
}
.button {
  font-size: 0.8rem;
  line-height: 2rem;
  padding: 8px 16px;
  border: 1px solid black!important;
  color: #080808 !important;
  background-color: #fff !important;
  font-weight: bold;
  border: 1px solid #080808;
  cursor: pointer;
  border-radius: 3px;
}
.button:hover {
  background-color: #080808!important;
  color: #fff !important;
}
.button.primary {
  background-color: #452d69 !important;
  border: 1px solid black;
  color: white !important;
  font-size: 1rem;
  background-color: white;
}

.button.primary:hover {
  background-color: white !important;
  border: 1px solid #452d69;
  color: #452d69 !important;
  font-size: 1rem;
  background-color: white;
}
.section {
  scroll-margin-top: 65px;
  position: relative;
  padding-left: 1rem;
  padding-right: 1rem;
}
.section.content {
  padding-top: 2rem;
}

/* Header and Footer */
.menubar {
  display: flex;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  z-index: 999;
  top: 0;
  background: rgba(0, 0, 0, 0.56);
  backdrop-filter: blur(9.5px);
  margin-bottom: -52px;
  -webkit-backdrop-filter: blur(9.5px);
}

.menubar .logo {
  flex: 1;
  display: flex;
  align-items: center; /* align vertical */
  height: 76px;
}
.menubar .logo a {
  border: none;
  display: flex;
}
.menubar .logo img {
  height: 36px;
}
.menubar .items {
  justify-content: center;
  gap: 1rem;
}
.menubar .item {
  font-size: 0.95rem;
  font-weight: 400;
  color: white!important;
}
.menubar .item a {
  color: white!important;
}
@media screen and (max-width: 1024px){
  .menubar .items {
      margin-bottom: 0px;
  }
  .menubar .logo {
      justify-content: center;
      height: 60px;
      padding-top: 25px;
      padding-bottom: 0px;
  }
}

.footer {
  position: sticky;
  top: 100%;
  padding-top: 1rem;
  padding-bottom: 2rem;
  letter-spacing: .0025em;
  background-color: black;
  color: white;
}
.footer .content {
  font-size: .85rem;
  margin-bottom: 2rem;
}
.footer .logo {
  padding-top: 1rem;
  margin-right: -10px;
}
.footer .logo img{
  width: 140px
}
.footer .item {
  margin-top: 1rem;
  opacity: 0.5;
}
.footer .item-title {
  font-weight: 600;
  color: white;
  opacity: 1;
}
.footer .copyright {
  font-size: 0.8rem;
}

/* animations */
.bgCanvas {
    top: 0;
    left: 0;
    opacity: 0.2;
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.cloud .vanta-canvas {
    opacity: 0.4;
}
.workflow .vanta-canvas {
    opacity: 0.2;
}
.globe-3d {
  overflow: visible;
  position: relative;
  top: -500px;
  left: -30%;
  width: 150%;
  height: 1px;
}
.globe-3d .wrapper {
  overflow: visible;
  height: 1000px;
  width: 100%;
  position: absolute;
  opacity: 0.4;
}
@media screen and (max-width: 768px) {
  .globe-3d {
    top: -400px;
    left: -50%;
  }
}
@media screen and (max-width: 500px) {
  .globe-3d {
    width: 100%;
    left: 0%;
  }
}