.workflow {
	color: white;
	margin-top: 6rem;
}
.workflow .section-header {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	text-align: center;
	align-items: center;
}
.workflow h1 {
	text-align: center;
	font-size: 2.3rem;
	line-height: 3rem;
	margin-bottom: 1rem;
	font-weight: bold;
}
.workflow h2 {
	width: 30rem;
	text-align: center;
	font-size: 1.1rem;
	color: rgba(255, 255, 255, 0.6);
	margin-bottom: 2rem;
}
.workflow .section-name {
	margin-top: 8rem;
	font-size: 1.2rem;
	background-image: linear-gradient(309deg, rgb(166, 221, 255) 2.25225%, rgb(51, 194, 255) 48.0785%, rgb(0, 119, 255) 100%);
	background-clip: text;
	text-shadow: 0px 4px 18px rgba(0, 130, 217, .85);
    text-align: center;
	color: white;
	-webkit-text-fill-color: transparent;
	font-weight: bold;
	width: fit-content;
	margin: 0 auto;
}
.workflow .container .columns {
	margin-top: 2rem;
	gap: 2rem;
	justify-content: center;
}
.workflow .frame {
	height: 30rem;
	border-radius: 1rem;
	padding: 2rem 2rem;
	overflow: hidden;
	position: relative;
	opacity: 1;
}
.workflow .frame:after {
    content: "";
    border: 1px solid rgba(255,255,255,0.12);
    width: 100%;
    height: 100%;
    position: absolute;
    box-sizing: border-box;
    left: 0;
    top: 0;
    border-radius: inherit;
    pointer-events: none;
}
.workflow .frame h3 {
	font-size: 1.3rem;
	font-weight: bold;
	margin-left: 1rem;
}
.workflow .frame h4 {
	font-size: 1rem;
	margin: .5rem 0 1rem 1rem;
	color: #c9c9c9;
}
.workflow .frame .images {
	opacity: 0.88;
}
.workflow .frame img {
	border-radius: .75rem;
	max-width: none;
	background-color: rgba(255,255,255,0.6);
	box-shadow: 0 4px 4px -2px #10182808, 0 10px 12px -2px #10182814;
}
.workflow .frame.frame-1 {
	background-color: #202020;
}
.workflow .frame.frame-1 .images .a {
	position: relative;
	width: 130%;
	left: -40%;
}
.workflow .frame.frame-1 .images .b {
	position: absolute;
	top: 40%;
	left: 60%;
	width: 40%;
	box-shadow: 0 4px 4px -2px #10182808, 0 10px 12px -2px #10182814;
}
.workflow .frame.frame-2 {
	background-color: #202020;
}
.workflow .frame.frame-2 .images .a {
	position: relative;
	width: 130%;
	background-color: white;
}
.workflow .frame.frame-2 .images .b {
	position: absolute;
	top: 35%;
	left: 60%;
	width: 50%;
	box-shadow: 0 4px 4px -2px #10182808, 0 10px 12px -2px #10182814;
}
.workflow .frame.frame-3 {
	background-color: #202020;
}
.workflow .frame.frame-3 .images .a {
	position: relative;
	width: 120%;
	background-color: white;
}
.workflow .frame.frame-3 .images .b {
	position: absolute;
	top: 60%;
	left: 10%;
	width: 100%;
	box-shadow: 0 4px 4px -2px #10182808, 0 10px 12px -2px #10182814;
}
.workflow .frame.frame-4 {
	background-color: #202020;
}
.workflow .frame.frame-4 h3, .workflow .frame.frame-4 h4 {
	width: 20rem;
}
.workflow .frame.frame-4 .images .a {
	position: relative;
	width: 70%;
	top: 1rem;
	left: 1rem;
	background-color: #f1f1f1;
}
.workflow .frame.frame-4 .images .b {
	position: absolute;
	top: 2rem;
	left: calc(20rem + 7rem);
	width: 70%;
	box-shadow: 0 4px 4px -2px #10182808, 0 10px 12px -2px #10182814;
	background-color: #f1f1f1;
}
.workflow .vanta-canvas {
    opacity: 0.2;
}
.globe-3d {
	overflow: visible;
	position: relative;
	top: -500px;
	left: -25%;
	width: 150%;
	height: 1px;
}
.globe-3d .wrapper {
	overflow: visible;
	height: 1000px;
	width: 100%;
	position: absolute;
	opacity: 0.4;
}
