.workflow {
	background-color: black;
	color: white;
}
.workflow h1 {
	text-align: center;
	font-size: 3rem;
	font-weight: bold;
	margin-top: 8rem;
}
.workflow h2 {
	text-align: center;
	font-size: 1.8rem;
	margin-bottom: 6rem;
}

.workflow .container .columns {
	margin-top: 2rem;
	gap: 2rem;
}
.workflow .frame {
	height: 30rem;
	border-radius: 1rem;
	padding: 2rem 2rem;
	overflow: hidden;
	position: relative;
	opacity: 1;
}
.workflow .frame h3 {
	font-size: 1.5rem;
	font-weight: bold;
	margin-left: 1rem;
}
.workflow .frame h4 {
	font-size: 1rem;
	margin: .5rem 0 1rem 1rem;
}
.workflow .frame img {
	border-radius: .75rem;
	max-width: none;
	background-color: rgba(255,255,255,0.6);
	box-shadow: 0 4px 4px -2px #10182808, 0 10px 12px -2px #10182814;

}
.workflow .frame.frame-1 {
	background-color: #dbeeff3d;
}
.workflow .frame.frame-1 .images .a {
	position: relative;
	width: 130%;
}
.workflow .frame.frame-1 .images .b {
	position: absolute;
	top: 40%;
	left: 80%;
	width: 40%;
	box-shadow: 0 4px 4px -2px #10182808, 0 10px 12px -2px #10182814;
}
.workflow .frame.frame-2 {
	background-color: #fff7db3d;
}
.workflow .frame.frame-2 .images .a {
	position: relative;
	width: 130%;
	background-color: white;
}
.workflow .frame.frame-2 .images .b {
	position: absolute;
	top: 35%;
	left: 60%;
	width: 50%;
	box-shadow: 0 4px 4px -2px #10182808, 0 10px 12px -2px #10182814;
}
.workflow .frame.frame-3 {
	background-color: #fae6e63d;
}
.workflow .frame.frame-3 .images .a {
	position: relative;
	width: 120%;
	background-color: white;
}
.workflow .frame.frame-3 .images .b {
	position: absolute;
	top: 65%;
	left: 10%;
	width: 100%;
	box-shadow: 0 4px 4px -2px #10182808, 0 10px 12px -2px #10182814;
}
.workflow .frame.frame-4 {
	background-color: #dedbff3d;
}
.workflow .frame.frame-4 h3, .workflow .frame.frame-4 h4 {
	width: 20rem;
}
.workflow .frame.frame-4 .images .a {
	position: relative;
	width: 70%;
	top: 1rem;
	left: 1rem;
	background-color: #f1f1f1;
}
.workflow .frame.frame-4 .images .b {
	position: absolute;
	top: 2rem;
	left: calc(20rem + 5rem);
	width: 70%;
	box-shadow: 0 4px 4px -2px #10182808, 0 10px 12px -2px #10182814;
	background-color: #f1f1f1;
}